body {
    background:url(../images/texture_grain_200x200_v2.png);
}

.left-text p{
    color: #333;
    font-size: 16px;
    vertical-align: baseline;
}

.right-text p {
    margin-bottom: 10px;
    font-size:13px;
    color: #999;
}

.whole_container {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
    width:974PX;
    padding-bottom:40px;
    margin-bottom:10px;
}

.whole_container h1 {
    font-weight: bold;
    line-height: 26px;
    color: #000;
    font-size: 32px;
    vertical-align: baseline;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin: 30px 0 25px;
    vertical-align: middle;
}
h4 {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #000;
    margin: 0 0 10px;
}

h3 {
    font-size: 13px;
    font-weight: bold;
    line-height: 17px;
    color: #000;
    vertical-align:baseline;
}

#bodyHeader {
    background:url(../images/texture_hero_974x409_v2.png);
    padding-bottom:20px;
}

.description {
    padding-top:30px;
}

    .description p {
        font-size: 13px;
        line-height: 17px;
        color: #333;
        font-weight: normal;
        padding-top: 15px;
    }

.left-description {
    padding-left:30px;
    float:left;
    width:441px;
    clear:both;
}

.right-description iframe {
    width: 372px;
    height: 208px;
    margin-left: 92px;
}

.menu-privacyPolicy {
    padding: 45px 0 30px;
    margin-left:41px;
}

    .menu-privacyPolicy a {
        font-size: 16px;
        font-weight: bold;
        line-height: 18px;
        color: #000;
        display: block;
        width: 100%;
        padding-top: 62px;
        text-align: center;
        overflow: hidden;
        float: left;
        width: 150px;
        margin-left:33px;
    }

    .menu-privacyPolicy .firsta {
        margin-left:0;
    }

#_introduction {
    background:url(../images/icon_intro_79x49_v1.png) 35px 0 no-repeat;
}

#_information {
    background:url(../images/icon_infocollected_44x49_v1.png) 55px 0 no-repeat;
}

#_Uses_and_sharing {
    background:url(../images/icon_usessharingpersinfo_61x49_v1.png) 55px 0 no-repeat;
}

#_choices {
    background:url(../images/icon_choicesoblig_42x49_v1.png) 65px 0 no-repeat;
}

#_ImportantInfo {
    background:url(../images/icon_importantinfo_48x49_v1.png) 52px 0 no-repeat;
}

.info-box {
    margin-left:41px;
}

#_intro {
    background:url(../images/icon_intro_60x37_v1.png) no-repeat;
    padding-left:80px;
    line-height:37px;
}

ul {
    list-style:disc;
    color:#999;
}

    ul li {
        margin-left:40px;
    }

.left-text {
    display:inline-block;
    width:277px;
    vertical-align:top;
}

.right-text {
    display:inline-block;
    width:564px;
    margin-left: 51px;
}

.sub-info-parts {
    border-bottom:1px solid #EEE;
    padding: 20px 0 10px;
}

#_inform {
    padding-left:80px;
    background:url(../images/icon_infocollected_60x66_v1.png) no-repeat;
    line-height:66px;
}

#UsesAndSharing {
    background:url(../images/icon_usessharingpersinfo_83x66_v1.png) no-repeat;
    line-height:66px;
    padding-left:100px;
}

#yourChoices {
    background:url(../images/icon_choicesoblig_56x66_v1.png) no-repeat;
    line-height:66px;
    padding-left:80px;
}

#ImpInfo {
    background:url(../images/icon_importantinfo_52x53_v1.png) no-repeat;
    line-height:56px;
    padding-left:70px;
}

#safetyCenter {
    background:url(../images/icon_shield_31x35.png) no-repeat;
    padding-left:40px;
    font-size:12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    margin-top: 20px;
    line-height:13px;

}

#seal {
    margin-top:10px;
}

.left-text label {
    display:block;
}

#Members {
    padding-top:36px;
}

.topBorder {
    border-top: 1px solid #BDBDBD;
}

.toTop {
    float:right;
    padding:10px 40px 10px 0;
    width:92px;
}

.last {
    border:none;
}

    .toTop span {
        margin-left: 7px;
    height: 0;
    width: 0;
    _font-size: 0;
    _line-height: 0;
    border-style: dashed;
    border-color: transparent;
    border-width: 0 4px 4px;
    border-bottom-color: #0077b5;
    border-bottom-style: solid;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    text-indent: -12345px;
    white-space: nowrap;
    vertical-align: middle;
    overflow: hidden;
    }