body {
}

#global-error-box-container {
    padding-top:90px;
}

.middle-upper {
    
    padding-left:8px;
    padding-bottom:40px;
}

.middle-upper-left-part {
    width:420px;
    line-height:1.5;
    font-weight:bold;
    float:left;
}

.middle-upper-left-part h1 {
    font-size:18px;
    color:#39C;
    text-align:left;
    margin-bottom:15px;
}


.middle-upper-left-part li {
    font-size:13px;
    color:#666;
    font-weight:normal;
    background:url(../images/sprite_guesthome_v2.png) no-repeat;
    line-height:1.1;
}

ul #reconnect {
background-position: 0 3px;
padding: 8px 0 17px 68px;
}

ul #answers {
background-position: 5px -222px;
padding: 13px 0 17px 68px;
}

ul #power {
background-position: 0 -144px;
padding: 8px 0 10px 68px;
}

.joinIn-box {
    width:320px;
    float:right;
}

.middle-upper-right-part {
    padding-right:7px;
}

.joinIn-box-header {
    padding: 5px 10px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    background: #4393BB;
    background: -moz-linear-gradient(top, #73b8db 0, #4393bb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #73b8db), color-stop(100%, #4393bb));
    background: linear-gradient(top, #73b8db 0%,#4393bb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#73B8DB', endColorstr='#4393BB',GradientType=0 );
    color: #fff;
}

    .joinIn-box-header h2 {
        font-size:14px;
        font-weight:bold;
    }


.joinIn-box-bottom {
    border:1px solid #ddd;
    border-width: 0 1px 1px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    zoom:1;
    z-index:111;
    padding:0 10px 0 35px;
    min-height:239px;
}
    


    



#info {
    float:right;
    width:188px;
    color:#666;
    font-size:11px;
    margin-top:-3px;
}



.btn-tertiary:hover {
    background: #5D8329;
    background: -moz-linear-gradient(top, #94bd5b 0, #94bd5b 1px, #649f15 1px, #5d8329 100%);
    background: -o-linear-gradient(top, #94bd5b 0, #94bd5b 1px, #649f15 1px, #5d8329 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #94bd5b), color-stop(5%, #94bd5b), color-stop(5%, #649f15), color-stop(100%, #5d8329));
    background: linear-gradient(top, #94bd5b 0%,#94bd5b 1px,#649f15 1px,#5d8329 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#94BD5B', endColorstr='#5D8329',GradientType=0 );
}

.btn-tertiary  {
    background: #69A219;
    background: -moz-linear-gradient(top, #afd47b 0, #afd47b 1px, #8bc03f 1px, #69a219 100%);
    background: -o-linear-gradient(top, #afd47b 0, #afd47b 1px, #8bc03f 1px, #69a219 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #afd47b), color-stop(5%, #afd47b), color-stop(5%, #8bc03f), color-stop(100%, #69a219));
    background: linear-gradient(top, #afd47b 0%,#afd47b 1px,#8bc03f 1px,#69a219 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AFD47B', endColorstr='#69A219',GradientType=0 );
    border-color: #693;
    color: #fff !important;
    font-weight: bold;
    white-space: nowrap;
    border-width: 1px;
    border-style: solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    line-height: 1.35;
    overflow: visible;
    padding: 3px 10px 2px;
    text-decoration: none !important;
}


.joinIn-box-bottom #already {
    font-size:11px;
    color:black;
    margin-left:85px;
    margin-top:7px;
}

.middle-middle-part {
    border:1px solid #CCC;
    border-left:hidden;
    border-right:hidden;
}

    .middle-middle-part .content {
        width:615px;
        margin-left:auto;
        margin-right:auto;
        margin-top:24px;
        margin-bottom:40px;
    }


    .middle-middle-part .content label{
        color:#666;
        font-size:16px;
        font-weight:bold;
    }

    .middle-middle-part .content input {
        margin-left:6px;
        margin-right:9px;
        width:150px;
    }

#submit-search-by-name {
    width:0.3em;
    
}

.btn-secondary {
    line-height: 1.3;
    min-width: 3em;
    border-width: 0.1em;
    border-style: solid;
    border-color:#999;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    line-height: 1.35;
    margin: 0;
    overflow: visible;
    padding: 3px 10px 2px;
    text-decoration: none !important;
    vertical-align: top;
    width: auto;
    background-color:#ddd;
    color: #666 !important;
}

.btn-secondary:hover {
    background: #999;
    background: -moz-linear-gradient(top, #f2f2f2 0, #f2f2f2 1px, #e4e4e4 1px, #cecece 100%);
    background: -o-linear-gradient(top, #f2f2f2 0, #f2f2f2 1px, #e4e4e4 1px, #cecece 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f2f2f2), color-stop(5%, #f2f2f2), color-stop(5%, #e4e4e4), color-stop(100%, #cecece));
    background: linear-gradient(top, #f2f2f2 0%,#f2f2f2 1px,#e4e4e4 1px,#cecece 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E4E4E4', endColorstr='#CECECE',GradientType=0 );
    border-color: #999;
    color: #666 !important;
    cursor:pointer;
}





.member-list-alphabets {
    width:410px;
    margin-left:auto;
    margin-right:auto;
    margin-top:15px;
    margin-bottom:5px;
}




.search-by-country {
    width:145px;
    margin:0 auto;
}
.search-by-country a{
    font-size:11px;
}

#join-form-main {
    padding-top:6px;
}

#joinNow{
	margin-top:17px;
	margin-left:85px;
}

#join-form-main label {
    display:inline-block;
    line-height:2.9;
    width:75px;
    text-align:right;
    color:#333;
    font-weight:bold;
    font-size:13px;
    margin-right:6px;
}

#join-form-main .join-form-input-boxes {
    display:inline-block;
    width:170px;
}

    #join-form-main .join-form-input-boxes input {
        width:181px;
        line-height:1.4;
        margin: 3px 7px 0 0;
    }


#error-global {
    margin-bottom:15px;
}

