body {
    background: url("../images/texture_grain_200x200_v2.png");
}

.middle-wrap {
   width:805px;
   margin:0 auto;
}

#black-logo {
    margin:8px 10px 0 4px;
    float:left;
}

.menu-ul {
    float:right;
}

.menu-ul li{
    font-size:11px;
    color:#666;
    line-height:39px;
}

.white-box {
    background-color:white;
    border:1px solid #ccc;
    overflow:hidden;
}

#container {
    padding:15px;
}

.global-error-box {
    background: #fee url("../images/sprite_global_v8.png") no-repeat 7px -642px;
}

#alert-message {
    margin: 0 0 15px;
    padding: 6px 7px 6px 35px;
    overflow: hidden;
    min-height: 28px;
}
    #alert-message p {
        padding-left:5px;
        padding-top:5px;
    }


.join-in-header {
    background:url("../images/bg_arrow_foursided_4a99c0_34x34.png") no-repeat bottom left;
	margin-bottom: 9px;
	padding-bottom: 11px;
	background-position: 108px 32px;
}

.join-in-header h1 {
    display: block;
    font-weight:normal;
    font-size: 18px;
    
    color:white;
    background:url("../images/bg_blue_19x63.png") repeat-x  bottom left;
    line-height:23px;
   -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 16px 18px;
}

#middle-body-container {
    border-bottom:1px solid #ccc;
    padding-bottom:25px;
}

.left-body-container {
    width:450px;
    border-right:1px solid #ccc;
    display:inline-block;
}

.left-body-container form label {
    text-align:right;
    display:inline-block;
    width:117px;
    font-weight:bold;
    line-height:2.5;
    margin-right:5px;
}

.left-body-container form div {
    display:inline-block;
    width:250px;
}

    .left-body-container form div input:not([type=submit]) {
        width:267px;
        border: 1px solid #999;
        font-size:13px;
        padding:2px 3px;
    }

    .left-body-container p {
        margin-top:15px;
        margin-left:125px;
    }

.small-text-gray {
    font-size: 11px;
    color: #666;
}

.empty {
    vertical-align:top;
}

.right-body-container {
    display:inline-block;
    vertical-align:top;
    padding:20px 0 20px 20px;
}

.actions {

margin-top:10px;
margin-left:5px;
}


.fb {
color: #069;
background: url("../images/sprite_fb_icon_22.png") 0 -44px no-repeat;
display: inline-block;
padding: 0 0 0 1px;
outline: none;
margin-bottom: 10px;
text-decoration:none;
margin-left:48px;
}


.fb_text {

font-family: Arial,sans-serif;
text-decoration:none;

}

.fb .fb_text {
background: url("../images/sprite_fb_icon_22.png");
border-top: 1px solid #879ac0;
border-bottom: 1px solid #1a356e;
color: #fff;
display: block;
_display: inline-block;
font-weight: bold;
font-size: 11px;
padding: 2px 6px 3px 6px;
margin: 1px 0px 0 21px;
height: 14px;
text-decoration:none;


}

#termsAgreement {
    padding:0px 0 15px 0;
    width:500px;
    margin:0 auto;
}


.btn-tertiary:hover {
    background: #5D8329;
    background: -moz-linear-gradient(top, #94bd5b 0, #94bd5b 1px, #649f15 1px, #5d8329 100%);
    background: -o-linear-gradient(top, #94bd5b 0, #94bd5b 1px, #649f15 1px, #5d8329 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #94bd5b), color-stop(5%, #94bd5b), color-stop(5%, #649f15), color-stop(100%, #5d8329));
    background: linear-gradient(top, #94bd5b 0%,#94bd5b 1px,#649f15 1px,#5d8329 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#94BD5B', endColorstr='#5D8329',GradientType=0 );
}

.btn-tertiary  {
    background: #69A219;
    background: -moz-linear-gradient(top, #afd47b 0, #afd47b 1px, #8bc03f 1px, #69a219 100%);
    background: -o-linear-gradient(top, #afd47b 0, #afd47b 1px, #8bc03f 1px, #69a219 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #afd47b), color-stop(5%, #afd47b), color-stop(5%, #8bc03f), color-stop(100%, #69a219));
    background: linear-gradient(top, #afd47b 0%,#afd47b 1px,#8bc03f 1px,#69a219 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AFD47B', endColorstr='#69A219',GradientType=0 );
    border-color: #693;
    color: #fff !important;
    font-weight: bold;
    white-space: nowrap;
    border-width: 1px;
    border-style: solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    line-height: 1.35;
    overflow: visible;
    padding: 3px 10px 3px;
    text-decoration: none !important;
    margin-left: 125px;
}

footer p {
    margin-top:20px;
}