*{
padding:0;
margin:0;
}

html {
    overflow-y:scroll;
    padding:0;
    margin:0;
}

ul {
    list-style:none;
}

a {
    text-decoration:none;
    color:#069;
}
a:hover {
    text-decoration:underline;
    color:#069;
}



input:not([type=submit]):not([type=file]):focus,textarea:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    border: 0.15em solid #9ecaed;
 }


.error {
    color:#900;
    /*padding:5px 5px 5px 5px;*/
    font-weight:bold;
}

.error-box {
    background-color:#fee;
    height:40px;
    margin-left:8px;
    width:960px;
} 


.hidden {
    display:none;
    overflow:hidden;
    visibility:hidden;
}

.error-message-box {
    padding: 12px 7px 6px 40px;
    background:url(../images/sprite_global_v8.png) no-repeat;
    background-position:7px -643px;
    height:20px;
}


#header-relative-part {
	z-index: 2;
	background-color:#3f3f3f;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #696969), color-stop(100%, #3f3f3f));
	background-image:-webkit-linear-gradient(top, #696969 0%,#3f3f3f 100%);
	background-image:-moz-linear-gradient(top, #696969 0%,#3f3f3f 100%);
	background-image:-o-linear-gradient(top, #696969 0%,#3f3f3f 100%);
	background-image:linear-gradient(top, #696969 0%,#3f3f3f 100%);
	height:42px;
}

.header-style {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(18%, #515151), color-stop(85%, #373737), color-stop(100%, #333333));
	background-image: -webkit-linear-gradient(top, #555555 0%,#515151 18%,#373737 85%,#333333 100%);
	background-image: -moz-linear-gradient(top, #555555 0%,#515151 18%,#373737 85%,#333333 100%);
	background-image: -o-linear-gradient(top, #555555 0%,#515151 18%,#373737 85%,#333333 100%);
	background-image: linear-gradient(top, #555555 0%,#515151 18%,#373737 85%,#333333 100%);
	-webkit-box-shadow: 0 0 10px #333;
	-moz-box-shadow: 0 0 10px #333;
	box-shadow: 0 0 10px #333;
	z-index: 100;
	height: 42px;
	position: fixed;
	width:100%;
}

.wrap-middle{
	width:975px;
	margin:0 auto;
}

.clear{
	clear:both;
}

.left-header{
	float:left;
}

.right-header{
	float:right;
}

#header-container{
	padding:11px 5px 5px 0;
}

body{
	font-family:arial , sans , sarif;
	font-size:13px;
}

menu a {
	text-decoration:none;
	color:#D7D7D7;
	padding:10px 6px 13px 10px;
}

menu a:hover{
    text-decoration:none;
	color:#398dbf;
}

    menu a::selection {
        color:black;
    }




.footer-useragreement {
    width: 480px;
    margin-top:20px;
    margin-bottom:30px;
}



.main-footer {
    border-top:1px solid #CCC;
    width:990px;
    margin:0 auto;
    padding-top:10px;
}

.main-footer-part1 {
    width:915px;
    margin-bottom:5px;
}

.main-footer-part1 .lastli {
    border-right:hidden;
}

.main-footer-part1 .firstli {
    font-weight:bold;
}

.main-footer-part1 ul li a {
}

.main-footer-part1 ul {
    line-height:2;
}

.main-footer-part1 ul li {
    display:inline;
    border-right:1px solid #ccc;
    padding-right:6px;
    padding-left:6px;
}


.main-footer-part1 ul {
    display:inline;
}
.main-footer-part2 ul li {
    display:inline;
    border-right:1px solid #ccc;
    padding-right:6px;
    padding-left:6px;
}

.main-footer-part2 {
    margin-bottom:15px;
}

.main-footer-part2 p {
    display:inline;
    font-size:13px;
    color:#666;
    border-right:1px solid #ccc;
    padding-right:6px;
}

.main-footer-part2 p span {
    float: left;
    height: 16px;
    width: 62px;
    text-align: left;
    margin-left: 6px;
    margin-right:4px;
    background: url('../images/logo_linkedin_med_grey_trans_64x16_v1.png') no-repeat ;
}

.main-content {
    padding-top:80px;
}






/**********************************/



.LinkedIn-member-directory {
    font-size:11px;
    color:#666;
    font-weight:normal;
    display:inline-block;
}

.LinkedIn-member-directory-list li , ul {
    display:inline-block;
}

    .LinkedIn-member-directory-list li a {
        font-size:11px;
    }

.hide {
    visibility:hidden;
}


@media (max-width: 980px) {
    .header-style {
        position:static;
        width:990px;
    }
}