<html>
<head>
    <meta name="viewport" content="width=1000px, initial-scale=1" />
    <title>World's Largest Professional Network | LinkedIn</title>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
	<!--Styles-->
    <link href="stylesheets/cookies.css" rel="stylesheet" />
	<!---------->
</head>
<body>

 

    <!-- header area end -->

    <!-- Main Area -->

    <div  class="wrap-middle1">
        
   

    </div>

    <div class="wrap-middle" id="content">
         <p class="lastedited">Last revised on September 26th, 2012</p>
        <div class="page-title"><h1>Cookies on the LinkedIn site</h1></div>
       

        <div id="main" class="mainarea">
            <div class="has-cookies">

                

                <div class="head2"><h2>Does LinkedIn Use Cookies?</h2></div>
    
                <p>As described in Section 1.8 of our <a href="privacyPolicy.html">Privacy Policy</a>, LinkedIn uses cookies and similar technologies like pixels and tags to ensure that we give you the best possible experience on our website.</p>
                <p>A cookie is a small file placed onto your device. Cookies enable us to identify your device, and enable the functioning of many LinkedIn features, including your ability to log into your account.</p>
                <p>If you don&#x2019;t want to receive cookies, you can change your browser settings. If you use LinkedIn without changing your browser settings, we'll assume that you&#x2019;re happy to receive all cookies on the LinkedIn website. Please note that the LinkedIn site will not work properly without cookies.</p>
                <p>Trusted partners like <a href="#">DoubleClick</a>, <a href="#">BlueKai</a>, and <a href="#">Lotame</a> help us serve advertising on and off the LinkedIn site, and analytics companies like Google Analytics, Quantcast, Nielsen, and ComScore, may also place cookies on your machine. Please read their privacy policies to ensure that you&#x2019;re comfortable with the manner in which they use cookies.</p>
                <ul>
                  <li><a href="#">QuantCast</a></li>
                  <li><a href="#">Google Analytics</a></li>
                  <li><a href="#">Nielsen privacy policy</a></li>
                  <li><a href="#">Comscore Privacy Policy</a></li>
                  <li><a href="#">Eloqua</a></li>
                </ul>

                <div class="head2"><h2>What types of cookies does LinkedIn Use?</h2></div>

                <p>LinkedIn uses two types of cookies, persistent and session. A persistent cookie is set once you&#x2019;ve logged in to your LinkedIn account. The next time you visit the LinkedIn website using the same device, the persistent cookie will enable us to recognize you as an existing user, so you may not need to log in before using our services.</p>
                <p>A session cookie is used to identify a particular visit to the LinkedIn website. Session cookies expire after a short time, or when you close your web browser.</p>
                <p>Other technology, such as Adobe Flash, can be used to place the functional equivalent of a cookie on your computer.</p>

               <div class="head2"> <h2>When does LinkedIn put cookies on my device?</h2></div>

                <p>Cookies may be set by LinkedIn when you visit linkedin.com, or they may be set by other websites or services who run content on the page you&#x2019;re viewing (known as third-party cookies).</p>
                <p>You can also learn more about LinkedIn&#x2019;s advertising practices by reading our <a href="#">Privacy Policy</a>.</p>

                <div class="head2"><h2>What are cookies used for?</h2></div>

                <p>Cookies can be used to do lots of different things, like recognize you when you navigate to LinkedIn&#x2019;s site, storing your preferences and improving your experience. Cookies also make your interactions with LinkedIn more secure, faster, and help us ensure that your LinkedIn experience is personalized to you and in line with your settings. Additionally, cookies allow LinkedIn to bring you advertising both on and off the LinkedIn site, and bring customized features to you through LinkedIn plugins such as our share button.</p>
                <p>LinkedIn uses cookies for a number of purposes, including:</p>

                <p><strong>Authentication &#x2013;</strong> LinkedIn uses cookies to recognize you if you are logged in to LinkedIn, so that we can show you the right information and personalize your experience.</p>
                <p><strong>Security &#x2013;</strong> LinkedIn uses cookies to support or enable security features we have deployed, and to help us detect malicious activity and violations of our User Agreement.</p>
                <p><strong>Preferences, features and services &#x2013;</strong> LinkedIn uses cookies to know which language you prefer, what your communications preferences are, and they help you fill out forms on LinkedIn. Plus they provide you with features, insights, and customized content through our plugins.</p>
                <p><strong>Advertising &#x2013;</strong> LinkedIn may use cookies to show you relevant advertising both on and off the LinkedIn site. We may also use a cookie to learn whether members who saw an ad on LinkedIn later visited the advertiser&#x2019;s site. Similarly, our partners may use a cookie to determine whether we&#x2019;ve shown an ad and how it performed, or provide us with information about how you interact with them. We may also work with a partner to show you an ad on or off LinkedIn, such as after you&#x2019;ve visited a partner&#x2019;s site or application. Cookies and ad technology such as web beacons, pixels, and anonymous ad network tags help LinkedIn more effectively serve ads to you, as well as to collect aggregated auditing, research, and reporting for advertisers. Note: Because your web browser may request advertisements and web beacons directly from ad network servers, these networks can view, edit, or set their own cookies, just as if you had requested a web page from their site.</p>
                <p><strong>Performance, Analytics and Research &#x2013;</strong> LinkedIn uses cookies to help us learn how well our site and plugins perform across the globe. We also use cookies to understand, improve, and research products, features, and services, including when you access LinkedIn from other websites, applications, or devices such as your work computer or your mobile device.</p>

                <p>Most browsers allow you to control cookies through their settings preferences. Limiting the ability of websites to set cookies, however, may worsen your overall user experience.</p>
              </div>

        </div>
 </div>

    


	<!--Scripts-->
	<script src="/javascripts/jquery.js" ></script>
	<script src="/javascripts/script.js" ></script>
    <script src="/javascripts/script1.js"></script>
	
</body>
</html>