<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>World's Largest Professional Network | LinkedIn</title>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
    <!--Styles-->
    <link href="/stylesheets/screen3Styles(WhatIsLinkedIN).css" rel="stylesheet" />
    <!---------->
</head>
<body>
    

    <div id="middle-content" class="wrap-middle">
        <div class="main-content">
            <div class="white-box" >
                <h1 class="text-center">
                    <p>The world's largest professional network:</p> 225 million strong.
                </h1>
                <div class="info-box-container">
                    <div  class="info-box">
                        <h2 class="text-center">Connect. Find. Be found.</h2>
                        <div class="info-back" id="info-1"></div>
                        <p class="text-center info-summary">Build your professional identity online and stay in touch with colleagues and classmates.</p>
                        <br />
                    </div>
                    <div  class="info-box">
                        <h2 class="text-center">Power your career.</h2>
                        <div class="info-back" id="info-2"></div>
                        <p class="text-center info-summary">Discover professional opportunities, business deals, and new ventures.</p>
                        <br />
                    </div>
                    <div id="last-info-box"  class="info-box" >
                        <h2 class="text-center">Learn and share.</h2>
                        <div class="info-back" id="info-3"></div>
                        <p class="text-center info-summary">Get the latest news, inspiration, and insights you need to be great at what you do.</p>
                        <br />
                    </div>
                </div>
                <div class="join-now-button">
                    <p>it's free.</p>
                    <%= link_to 'Join now', new_user_registration_path %>
                </div>
            </div>
            


        </div>
    </div>


     
    <!--Scripts-->
    <script src="/javascripts/jquery.js" ></script>
    <script src="/javascripts/script.js" ></script>
    <!----------->
</body>
</html>